<div class="projects-area ptb-100 pb-70 hth-100" id="subsidiaries">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="secTitle">
            <h2 class="text-center mb-4">PRODUCTS AND SOLUTIONS</h2>
            
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7  col-lg-7 col-md-7 col-sm-6 col-xs-12" style="margin-left: 22%;">
          <div class="single-about mb-30 text-center" data-toggle="modal">
            <div class="about-text">
              <!-- <img class="h150" src="./assets/img/ckdlogo.svg" /> -->
              <h3>Unified platform for application assessment </h3>
              <p class="minhgt" style="height: 145px;">All the enterprises are strategizing Application Assessment, Migration and Modernization journey but they lack a converged vision of insights into their application assessment. Our Unified platform product provides with value added insights into their application landscape, capture dependencies, complexities and generate a smart plan for their journeys leading to high cost benefits.</p>             
              <p class="text-right mt-3"> 
                <!-- <a id="medium" class="fntbold600" href="#ckDrilling" >READ MORE</a>  -->
              </p>
            </div>
          </div>
        </div>
      </div>   
      <div class="row" style="margin-left: 2%;">
      <div class="col-md-7  col-lg-7 col-md-7 col-sm-6 col-xs-12" data-toggle="modal">
        <div class="single-about mb-30 text-center">
          <div class="about-text">
            <!-- <img class="h150" src="./assets/img/chinakuwaitlogo.svg" /> -->
            <h3>Assessment and planning</h3>

            <h5>Self service portal for assessment management</h5>
            <p class="minhgt">Self Service Portal Provides ability to manage assessments questions, surveys, ingest application details. It provides ability to manage customers profiles and assessment dashboards and report to provide value added insights.</p>                                                                                

            <h5>Assessment engine </h5>
            <p class="minhgt" style="height: 170px;">Assessment Engine provides Objective assessment of enterprise landscape leverage smart pre-defined rules, scores and decisions. It uses many relative priority techniques like MCDM based methodology providing ranking of applications to recommend waves of applications for migrations. AE evaluates multiple criterions of application including risk, value, effort and technical suitability for application rationalization. AE results are related to GARTNER’s view with “TIME” (Tolerate, Invest, Migrate, Eliminate) and granular level of visibility into application characteristics.</p>                                                                                
            <!-- <p class="text-right mt-3"> <a id="medium" class="fntbold600" href="#kacTradingCo" >READ MORE</a> </p> -->
          </div>
        </div>
      </div>
      <div class="col-md-5  col-lg-5 col-md-5 col-sm-6 col-xs-12">
        <div class="single-about mb-30 text-center" data-toggle="modal">
          <div class="about-text">
         
            
            <!-- <img class="h150" src="https://via.placeholder.com/153x150" /> -->
            
            <h3>Migration and Modernization</h3> 

            <h6>Migration planning</h6> 
            
            
            <p class="minhgt">Coming soon...</p>
            <!-- <p class="text-right mt-3"><a id="medium" class="fntbold600" href="#circleLinnkLtd" >READ MORE</a> </p> -->
          </div>
        </div>
      </div>
    </div>   
    </div>
  </div>

  <div class="modal fade" id="ckDrilling" tabindex="-1" role="dialog"
		aria-labelledby="ckDrilling" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">CK Drilling Company</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
        <div class="modal-body">
           <div class="row">
        <div class="col-12 col-md-3">
        <img class="w-100" src="./assets/img/ckdlogo.svg" />
        </div>
        <div class="col-12 col-md-9">
         <div class="modalBodyContent">
            <p><a href="http://ckdrilling.com/" target="_blank">CK Drilling Company (CKD)</a> was established based on PetroLink’s strategy that focuses on taking active participation in Kuwait Development Plan.</p>
            <p>CKD is awarded, two KOC workover contracts to participate in country’s Oil & Gas development program.</p>
            <p>Our strategy is to have a significant role and part in KOC aggressive expansion of drilling programs for its onshore and offshore drilling activities and related oil services to help and assist in achieving and realizing their 2040 oil strategy.</p>
          </div>
        </div>
        <div class="col-md-12">
        
            <p class="text-right mt-3"><a href="http://ckdrilling.com/" target="_blank">http://ckdrilling.com/</a></p>
        </div>
        </div>
          
         
				</div>
			</div>
		</div>
  </div>
  
  <div class="modal fade" id="kacTradingCo" tabindex="-1" role="dialog"
		aria-labelledby="kacTradingCo" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">KAC Trading Co</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
        <div class="row">
        <div class="col-12 col-md-3">
        <img class="w-100" src="./assets/img/chinakuwaitlogo.svg" />
        </div>
        <div class="col-12 col-md-9">
        <div class="modalBodyContent">
            <p><a href="http://kact.com/" target="_blank">Kuwait and China Trading Company (KACT)</a> is a subsidiary of PetroLink Holding Company.</p>
              <p>KACT works with business partners in China to introduce, promote and sell their products and services in Kuwait. KACT portfolio ranges from Electric Cables to Transformers, Explosion Proof Motors to Gen-Sets, Pipes, Valves and Fittings to Drilling Rigs and Offshore Drilling Services.</p>
              
          </div>
        </div>
        <div class="col-12 col-md-12">
        <p>KACT’s primary focus is Energy, Oil & Gas (EOG) related products & services, specialized in goods & services offered by KACT’s Chinese partners & international principles and to EOG sector in Kuwait.</p>
              <p>The support KACT is receiving from its partners and its parent company (PetroLink Holding) is a key element to its exponential growth in its bid for market expansion in Kuwait.</p>
              <p class="text-right mt-3"><a href="http://kact.com/" target="_blank">http://kact.com/</a></p>
        </div>
        </div>
          
          
				</div>
			</div>
		</div>
  </div>
  
  <!-- <div class="modal fade" id="circleLinnkLtd" tabindex="-1" role="dialog"
		aria-labelledby="circleLinnkLtd" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Circle Link Limited</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
        <div class="row">
        <div class="col-12 col-md-3">
        <img class="w-100 mb-4" src="https://via.placeholder.com/153x150" />
        </div>
        <div class="col-12 col-md-9">
         <div class="modalBodyContent">
            <p><a href="#CircleLink">Circle Link S.à r.l.</a> (hereafter the "Company") was incorporated on June 5, 2007, and is organised under the laws of Luxembourg as a Société à Responsabilité Limitée for an unlimited period. The registered office of the Company is established at 121, avenue de la Faïencerie L-1511 Luxembourg. Circle Link Limited is 100% owned subsidiary of Petrolink Holding Company.</p>
            
           
          </div>
        </div>
        <div class="col-md-12">
        <p>In April 2008, PetroLink Holding Company K.S.C.C made its investment in Circle Oil by acquiring Circle Link SARL, Luxembourg (the holding SPV of Circle Oil Investment). PetroLink was entitled a 4 years convertible unsecured loan (CL) at an annual interest basis.</p>
         <p>“Circle oil” which is in, a North Africa (MENA) focused oil and gas, exploration and production company incorporated in the Republic of Ireland. It holds a portfolio of assets in Egypt, Morocco and Tunisia.</p>
            <p class="text-right mt-3"><a href="#CircleLink">http://circlelink.com/</a></p>
        </div>
        </div>
  
         
				</div>
			</div>
		</div>
  </div>   -->
