<div class="contact-area ptb-100" id="contact">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <div class="secTitle">
          <h2 class="text-center mb-4">Contact Us</h2>
          <div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.7930874631224!2d77.60981321427433!3d13.048838590805223!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae177990926cab%3A0x1acc8692a96dfa84!2sKempapura%20Main%20Rd%2C%20Bengaluru%2C%20Karnataka%20560045%2C%20India!5e0!3m2!1sen!2sno!4v1595501201315!5m2!1sen!2sno"
              width="100%" height="400" frameborder="0" style="border: 0" allowfullscreen></iframe>
            <!-- <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="fa fa-envelope-o"></i>
                <p>Email : geetharao@appmodernize.com
                </p>
              </div>
            </div> -->
          </div>
          <div class="col-md-3">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="fa fa-mobile"></i>
                <p>Call : +9606555840<br>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="fa fa-map-marker"></i>
                <p>
                  Location : Kempapura Main Rd,<br><span>Bengaluru, Bangalore, Karnataka, India, 560045</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-4">
            <!-- <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.7930874631224!2d77.60981321427433!3d13.048838590805223!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae177990926cab%3A0x1acc8692a96dfa84!2sKempapura%20Main%20Rd%2C%20Bengaluru%2C%20Karnataka%20560045%2C%20India!5e0!3m2!1sen!2sno!4v1595501201315!5m2!1sen!2sno"
              width="100%" height="400" frameborder="0" style="border: 0" allowfullscreen></iframe> -->
          </div>
          <div class="col-md-6  contact-form mt-4">
            <div role="form" class="wpcf7 contactForm" id="wpcf7-f4-p17-o1" lang="en-US" dir="ltr">
              <div class="screen-reader-response">
                <form action="/demosd/mersal/#wpcf7-f4-p17-o1" #f="ngForm"  method="post" (ngSubmit)="onSubmit(f)" class="wpcf7-form" novalidate="novalidate">
                  <div style="display: none;">
                    <input type="hidden" name="_wpcf7" value="4">
                    <input type="hidden" name="_wpcf7_version" value="4.9">
                    <input type="hidden" name="_wpcf7_locale" value="en_US">
                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f4-p17-o1">
                    <input type="hidden" name="_wpcf7_container_post" value="17">
                  </div>
                  <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <span class="wpcf7-form-control-wrap your-name"><input type="text" name="name" value=""
                         #name="ngModel" ngModel size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                          aria-required="true" aria-invalid="false" placeholder="Name"></span>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <span class="wpcf7-form-control-wrap your-email"><input type="email" name="email" value=""
                          size="40" ngModel #email="ngModel"
                          class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                          aria-required="true" aria-invalid="false" placeholder="Email"></span>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="subject" value=""
                          #subject="ngModel" ngModel size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false"
                          placeholder="Subject"></span>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <span class="wpcf7-form-control-wrap your-message"><textarea name="message" cols="40"
                          #message="ngModel" ngModel rows="6" class="wpcf7-form-control wpcf7-textarea contact-textarea" aria-invalid="false"
                          placeholder="Message"></textarea></span>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                      <input type="submit" value="Message" class="wpcf7-form-control wpcf7-submit cont-submit">
                    </div>
                  </div>
                  <div class="wpcf7-response-output wpcf7-display-none"></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>