<div id="header"></div>

<!-- Header Navbar -->
<app-header-nav></app-header-nav>

<!--VIDEO-->
<div class="about-area ptb-100 pb-70 hth-100">
<div class="container">
    <div class="row" style="margin-bottom: 40px;">
        <div class="col-md-12">
            <h1 class="text-center mb-4" style="color: #4f97a5;">
                APPMODZ PRIVATE LIMITED
                
            </h1>
            <div class="caption-tag" style="color: #756abc;">
                <span>Insights to modernize</span>
            </div>            
        </div>


    </div>

    <div class="row">
        <div class="col-12 col-md-12">
          <div class="section-title text-left" style="margin-left: 40px;">
             <div class="pt-2">
                <ul>
                    <li>Accelerate migration and modernization journey by gaining valuable insights</li>
                    <li>Enable organizations to gain visibility into their application portfolio</li>
                  </ul>
             </div>             
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-12">
          <div class="section-title text-left">
         
             <div class="pt-2">
              <p class="ap1s">Organization have 100s of complex applications. They are looking for application rationalization to increase business efficiency, lower their total cost of operation and increase agility.
                </p>
              <p class="ap1s">AppModZ suite of products allow an organization to gain insights into the app landscape, Understand future roadmap. </p>
              <p class="ap1s">SSP and AE accelerate the end to end process for gathering application related data and performing an objective assessment to understand future roadmap.</p>
             </div>             
            </div>
        </div>
      </div>
    
</div>
</div>
<!-- <app-video-banner></app-video-banner> -->

<!--ABOUTUS-->
<app-aboutus></app-aboutus>
<!--CHAIRMAN MESSAGE-->
<!-- <app-chairman></app-chairman> -->



<!--Youtube Video-->
<!-- <app-homepage-youtube></app-homepage-youtube> -->

<!--SUBCIDARY-->
<app-subsidaries></app-subsidaries>

<!--PROJECTS-->
<!-- <app-projects></app-projects> -->

<!-- CARREERS -->
<!-- <app-careers></app-careers> -->

<!-- CONTACT -->
<app-contactus></app-contactus>

<!-- FOOTER -->
<app-footer></app-footer>

<a *ngIf="isShow" (click)="gotoTop()" class="scrollTop">
<i class="zmdi zmdi-chevron-up"></i>
</a>

